@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Lucida Sans';
  margin: 30px;
}

p {
  color: black;
  text-size-adjust: 15px;
  font-family: 'Lucida Sans';
  margin: 30px;
  text-indent: 50px;
}

#bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 300%;
  text-align: center;
  border: 3px solid red; 
  padding: 15px;
}

#top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  margin: 0px;
  font-family:'Lucida Sans';
  border: 3px solid red; 
  padding: 10px;
  background-color: red;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
