@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  margin: 30px;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Lucida Sans';
}

p {
  color: black;
  text-size-adjust: 15px;
  font-family: 'Lucida Sans';
}

#footer-styling {
  font-weight: bolder;
}

#header-styling {
  font-family:'Lucida Sans';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
